# Ignore version control
.git
.gitignore

# Ignore notebooks
Notebook/

# Ignore databases and logs
**/*.db
**/*.sqlite3
**/chromadb.db
**/error_log.txt

# Ignore cache
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd

# Ignore environment files
.env
venv/
.venv/